.form-control {
    height: 10px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 13px;
    margin: 5px 0;
}

.form-control:hover {
    border-color: #1dbfaf;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

.form-message {
    display: block;
    font-size: 12px;
    line-height: 1.6rem;
    padding: 4px 0 0;
}